apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd-image-updater-system
data:
  registries.conf: |
    registries:
    - name: ECR
      api_url: https://120496071282.dkr.ecr.ap-south-1.amazonaws.com
      prefix: 120496071282.dkr.ecr.ap-south-1.amazonaws.com
      ping: yes

---
apiVersion: v1
kind: Secret
metadata:
  name: git-creds
  namespace: argocd
type: Opaque
data:
  sshPrivateKey: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBNld0My9qU1IwOUJaaWk4SDIvOWpXU2p0bDh4ZVZ3cFAzZ0FmcHl2NC9mVVF4cGhqCkxqK2JCemtEYlNEL2VRUkNISEhJL09LdlRia1h5M1czZFgyaFV6M21DYTZWU0UwTkY5UVE2TTB4MmVhbnk4ZC9sCnpZMXYwNDlRaFoybmhwNExCZnA1TUJEUnppdnMwU3NITzZGOTBmNzBwMWx4dW9DV29ROFV5S1Q3ZnoySEYxWXQKc1hXbTZ1U05kQ1lDWno1bWNUUlI4bEx6RDVZNGtnVzhpbWIzWWNIK2pGbWRSR2IzR2liL1E4ZEcyYlM5Y1R5SApnOFJoWkZhT1BTeTNGcElFM0ZHTXhhR3dxeHlkbTQ2WEpVem8vUmdiVWFiczA2dWdPb1lDeDBSOEVjRU5MR05iCkZCcDBoTnJwMUY5Njg1VXlXNDVBRHdTRURjSHVJaWp3ZHhrcG9RSURBUUFCQW9JQkFRRGwxamRCN0Z1RytFbWkKWWVyWU9lR0dRbUdvcmNoYTVrRjhOQnoyeTdxUnZZUDJPTWk0R2xNNVNtOVFQa1N2MFh5VGEvOUtldzVtTDZRVApXb0cyMXhGamRaN3hCY2tLUkp5V3hNSFdEejA5VVJWeUN1ZkpmYklWMjdFSzBCREw0Y1MwS21SMzZxZmIzYTZDCnkxNkUzZC81TFpXVFR1UklJeU91bFIzKzcwemduRUNIYStPNkt5ZkVXRE5PbnordFg4Vm1zVjQzRW5QZEpHNnYKS08rNEtwN2thMldDM0dhOWxaRzlLSzFDaUhrTnB5ZTZLcjN1cE1OdllOaUNKS29aYzdtOE8vT3RWbkwrb0xkNwpPS21LN2VNSG0rRjZ2TVpISklrWmZuME1kQmhJU3dwdkpDbEtzeTVnQVdUUEtOdlFQZVJ3NkRmQThWQWtJRERlCmVZWVhnSG1SQW9HQkFQV3hEb09WSjlQd3JXdzdLcXhqTHVwV1ExcmsrNXVrKzVGazhQRjN4UHpZOWpLbHZub3EKSXR5YUI2L1o5YUtEMnlPbC9jaldOZ25FVHZyTnFRb3kwbkFvODh5U2pGSFcybHpNNldKQnRsRVJYRzBDdmJLeApHbkowNTJTbGNMME45cEYxYkxVVnUyeWtnMHRGUlhYMnV4TGNML1JuVWFNV0kybWlIR3pRVSszOUFvR0JBUFMyCm1oSjU5cUM2Y3RQdXZFNUdDeEgVN2lnZWh5VWxxYlYwaTdvWjV5NGxYekNhc0RBa2VOeEtLeFUySHZSQ2ZXTm8KYWtxSU5RWG1EQ3VWMU8yZ3g5ci9ZSGJ4TTVzeUt6WStQQ09uVlo3a204MFJDeGdTN3YzUlZRS2ZZNGUrYTlSbAo3dkpXaTNWVzRqZmFXTDlGRGQzelBvcFlsb21mU0dWcFZnU2xOWWwxQW9HQkFPS1FrdlRPVC9zR243WUYzYlU0CmhXUDlob0ZFVmEzUzkxVzlndDc1ZG9OQVE5Q3l2VE1FdGo4K0gwYVB0UTlYam5hU05MVEdyUEJXd2dwUUtzakgKMHYweEZwbVlycU10Z1JKQXVCc3V3OFNBUVA0Wm4vc3ZqRmJ0N1JBSDdDMjZ1WnlyYjBLU050TFo1bVU4RFBEYQpST3NBZDR4bTFvYVEvTGtGa0RiYjZmbTFBb0dBUnRaUWFiRThNL1FhSGNBYStIRk9LQi95clp5Mm9Bc29Nc0dQCk1OVDZrR1l5STJYYWl4c1VXSlVCbDF2OENBaVZuSzU4eHRpRkdRSzM2TG5yR29zSnFxOVcyVTNIU2h5Q21Ybm0KNmp1Q3BKVFZEQms2c2ZoUnczdUUxdzYxWG9RSHhBVXNZMGp4dFd0bzEvd3dmWVVQVk9YVUFWWkJ3ak95VWxjcgp4bzZYMlVFQ2dZQWhnZkdHMElYUVJQbkNsU2trOG1VVEVqQklXQ21JR2lwM2dzT21wM3dZdS85dmZ6dllSelJmCnlkZjZoeHV5eEVXSEcyYXVtbFo4MU5sbjFjTzNzclVOQW1IUDBEbit5SkJUcXhwWmFBYlMxdEUrRVg4UVF1RzAKb01DdWpkb3ZvcUJFMzhyaHdyL0JvMldjckszK0FXbGJqZi9Qbm03SDRWVS9ScGM0OWpNUWlRPT0KLS0tLS1FTkQgUlNBIFBSSVZBVEUgS0VZLS0tLS0K
